* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

body {
  background: #eef2ff;
  height: 800px;
  display: flex;
  text-align: center;
  
}

.container {
  display: flex;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px black;
  margin: auto;
}

/* LEFT-BOX */
.left-box {
  width: 300px;
  padding: 30px;
  text-align: center;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(180deg, #1500f7, #4b3df2);
}

.left-box .title {
  opacity: 0.8;
  margin-bottom: 20px;
}

.score-circle {
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4b3df2, #3b2fd9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score {
  font-size: 48px;
  font-weight: bold;
}

.of {
  font-size: 15px;
}

.left-box h2 {
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  opacity: 0.8;
}


/* RIGHT-BOX*/
.right-box {
  width: 320px;
  padding: 30px;
}

.right-box h3 {
  text-align: left;
  margin-bottom: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 14px;
}

.reaction { background: #fff0f0; color: #d94b4b; }
.memory   { background: #fff8e6; color: #d9a300; }
.verbal   { background: #e8f8f2; color: #1fa87a; }
.visual   { background: #eef2ff; color: #4b5cff; }

.btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #2f2f3a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #4b3df2;
}